@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

* {
    background-color: rgb(223, 236, 232);
    margin: 0;
    padding: 0;
}

/***HEADER AND FOOTER***/

.header,
.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}

.header {
    margin-bottom: 20vh;
}

footer {
    margin-top: 50vh;
}

.navbar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    position: fixed;
    padding: 20px 0;
}

.footbar {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 40px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 2vw;
    background-color: black;
}

.social-media-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    gap: 2vw;
    margin-right: 1vw;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 3vw;
    height: 6vh;
    background-color: black;
    /*fill: white;*/
}

.nav-item {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: black;
}

.navbar-brand,
.footbar-brand {
    background-color: black;
    width: 100px;
    height: auto;
}

.footbar-social-media {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    align-items: center;
    background-color: black;
}

.coordonnees {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

.coordonnees-2 {
    background-color: black;
}

/***MAIN***/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}

.texts-section {
    text-align: center;
    width: 30%;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    line-height: 25px;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.first-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4vh;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.images {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.border-radius {
    border-radius: 10px;
}

.first-image-home {
    display: flex;
    justify-content: center;
    float: right;
}

.second-image-home,
.third-image-home {
    display: flex;
    justify-content: center;
    float: left;
}

.firstdiv,
.seconddiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary,
#valid-input {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#valid-input {
    width: 6vw;
    height: 4vh;
    border-radius: 0.25rem;

}

form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.form-register,
.form-login {
    display: flex;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.5em;
}

input {
    background-color: #fff;
    border-radius: 5px;
    height: 5vh;
    width: 20vw;
    border: 1px solid black;
}

textarea {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid black;
}

.eligible,
.not-eligible {
    display: none;

    color: white;
    width: 15vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.not-eligible {
    background-color: red;
}

.eligible {
    background-color: green;
}

.background-green {
    background-color: green;
}

.background-red {
    background-color: red;
}

.hidden{
    display: none;
}


.items-table {
    width: 100%;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.square {
    width: 300px;
    height: 300px;
}

.my-account {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6vh;
}

